User currently logged in: <%= current_user ? current_user.email : 'none' %>
<table>
  <tr>
    <th>name</th>
    <th>email</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>      
      <td><%= user.email %></td>
      <td><%= link_to 'show', user_path(user) %> </td>
    </tr>
  <% end %>
</table>